
<div id="my_form">
  <%= form_for @product, :remote => true  do |f| %>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name , required: true%>
    <div>
<label for="product_first_name" class="error" id="product_first_name-error"></label></div>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, required: true %>
    <div><label id="product_last_name-error" class="error" for="product_last_name"></label></div>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true %>
    <div><label id="product_email-error" class="error" for="product_email"></label></div>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, required: true %>
    <div><label id="product_address-error" class="error" for="product_address"></label></div>
  </div><br>
  <br>
  <div class="field1234" >
   <%#= recaptcha_tags(display: {theme: 'blackglass'}, ajax: true) %>
  </div>
  <br>
  <div class="field">
    <%= f.submit 'submit',:id=>"mysubmit"%>
  </div>
  <%#= params[:locals] if params[:locals] %>
  
  <% end %>
</div>


<style type="text/css">
/*.error{
  color:#ff0000;
  font-size:12px;
}*/

</style>


